aiohttp==3.8.3
discord==2.1.0
discord.py==2.1.0
Flag==0.1.1
imageio==2.26.1
imageio-ffmpeg==0.4.8
matplotlib==3.6.3
more-itertools==8.10.0
moviepy==1.0.3
multidict==6.0.4
mutagen==1.46.0
netifaces==0.11.0
networkx==3.0
numpy==1.24.2
pandas==1.5.3
Pillow==9.4.0
psutil==5.9.4
pycountry==22.3.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.1
seaborn==0.12.2
urllib3==1.26.5
wordcloud==1.8.2.2
yarg==0.1.9
yarl==1.8.2
yt-dlp==2023.3.4

